#slider-section {
  background-image: url("https://htmldemo.net/pronia/pronia/assets/images/slider/bg/1-1.jpg");
  background-size: cover;
  height: 100vh;
  .container {
    padding-top: 60px;
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .content {
        .off {
          text-transform: uppercase;
          font-weight: 300;
          font-size: 47px;
          line-height: 65px;
          display: block;
        }
        .title {
          font-size: 70px;
          line-height: 1.4;
        }
        .description {
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 50px;
          
        }
        .btn {
          cursor: pointer;
          width: 210px;
          height: 65px;
          line-height: 65px;
          font-size: 16px;
          background-color: #abd373;
          border-color: #abd373;
          color: #ffffff;
          border-radius: 32px;
          text-transform: uppercase;
          text-align: center;
          transition: all 300ms;
          margin-bottom: 30px;
           
        }.btn:hover{
          transition: all 300ms;
          background-color: #525252;
        }
       
      }
   }
  }
}
@media screen and (max-width: 992px) {
  #slider-section {
    height: 136vh;
    .container {
      .row {
        display: flex;
        flex-direction: column-reverse;
        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .off {
            font-size: 27px;
            line-height: 45px;
          }
          .title {
            font-size: 40px;
            line-height: 1.4;
          }
          .description {
            font-size: 16px;
            margin-bottom: 30px;
          }
          .btn {
            width: 180px;
            height: 45px;
            padding-bottom: 15px;
          }
        }
        img {
          max-width: 65%;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
    #slider-section {
      height: 100%;
        }
      }
 
      // payment section with cards start 
#payment{
  height: 30vh;
  .containerPay{
    padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  .cardPay{
    align-items: center;
    display: flex;
    border: 1px dashed #abd373;
    border-radius: 5px;
    padding: 25px 30px;
    gap: 20px;
    .content-cardPay{
      width: calc(100% - 60px);
    padding-left: 20px;
    line-height: 20px;
    h2{
      color: #1f2226;
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-height: 1.2;
  }
  p{
    color: #3e3e3f;
  }
    }
    }
  }}
  @media  screen and (max-width: 992px) {
    #payment{
      height: 100%;
      .containerPay{
      display: flex;
      flex-wrap: wrap;
      }}
  }

  @media  screen and (max-width: 600px) {
    #payment{
      height: 100%;
      .containerPay{
      display: flex;
      flex-direction: column;
      }}
  }


  // our products section start 
  #ourProducts{
    .containerProduct{
      .titleProduct{
        text-transform: uppercase;
        position: relative;
        color: #393939;
        font-size: 36px;
        line-height: 27px;
        padding-left: 90px;
        padding-right: 90px;
        font-weight: 700;
        text-align: center;  
        padding-top: 3%;   
      }
      .rowProduct{
        margin-top: 60px;
        .seller{ 
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
          flex-wrap: wrap;
          li{
            font-size: 18px;
    color: #393939;
    padding: 10px 25px 10px 25px;
            border: 1px solid #a7ad9e;
          }
         li:hover{
          color: #abd373;
          border: 1px dashed #abd373;
         }
    
        }

      }  
      .myTabContent{
        .productItemRow{
          display: flex;
          gap: 30px;
          margin: 0px 90px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   .col-flowers{
    padding: 10px;
    line-height: 1.8;
    .h2Title{
      font-size: 18px;
    }
    .price-basket{
      font-size: 20px;
      .priceFlo{
        margin-right: 10px;
        color: #abd373;
      }
      .addBasket{
        cursor: pointer;
        color: #3b5d0d;

      }
    }
    .starUl{
      display: flex;
      color: #ffe24d;
      cursor: pointer;
    }
   }
        }
      }
    }
  }
  