#slider-section {
  background-image: url("https://htmldemo.net/pronia/pronia/assets/images/slider/bg/1-1.jpg");
  background-size: cover;
  height: 100vh;
  .container {
    padding-top: 60px;
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .content {
        .off {
          text-transform: uppercase;
          font-weight: 300;
          font-size: 47px;
          line-height: 65px;
          display: block;
        }
        .title {
          font-size: 70px;
          line-height: 1.4;
        }
        .description {
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 50px;
          
        }
        .btn {
          cursor: pointer;
          width: 210px;
          height: 65px;
          line-height: 65px;
          font-size: 16px;
          background-color: #abd373;
          border-color: #abd373;
          color: #ffffff;
          border-radius: 32px;
          text-transform: uppercase;
          text-align: center;
          transition: all 300ms;
          margin-bottom: 30px;
           
        }.btn:hover{
          transition: all 300ms;
          background-color: #525252;
        }
       
      }
   }
  }
}
@media screen and (max-width: 992px) {
  #slider-section {
    height: 136vh;
    .container {
      .row {
        display: flex;
        flex-direction: column-reverse;
        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .off {
            font-size: 27px;
            line-height: 45px;
          }
          .title {
            font-size: 40px;
            line-height: 1.4;
          }
          .description {
            font-size: 16px;
            margin-bottom: 30px;
          }
          .btn {
            width: 180px;
            height: 45px;
            padding-bottom: 15px;
          }
        }
        img {
          max-width: 65%;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
    #slider-section {
      height: 100%;
        }
      }
 
      // payment section with cards start 
#payment{
  height: 30vh;
  .containerPay{
    padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  .cardPay{
    align-items: center;
    display: flex;
    border: 1px dashed #abd373;
    border-radius: 5px;
    padding: 25px 30px;
    gap: 20px;
    .content-cardPay{
      width: calc(100% - 60px);
    padding-left: 20px;
    line-height: 20px;
    h2{
      color: #1f2226;
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-height: 1.2;
  }
  p{
    color: #3e3e3f;
  }
    }
    }
  }}
  @media  screen and (max-width: 992px) {
    #payment{
      height: 100%;
      .containerPay{
      display: flex;
      flex-wrap: wrap;
      }}
  }

  @media  screen and (max-width: 600px) {
    #payment{
      height: 100%;
      .containerPay{
      display: flex;
      flex-direction: column;
      }}
  }


  // our products section start 
  #ourProducts{
    .containerProduct{
      .titleProduct{
        text-transform: uppercase;
        position: relative;
        color: #393939;
        font-size: 36px;
        line-height: 27px;
        padding-left: 90px;
        padding-right: 90px;
        font-weight: 700;
        text-align: center;  
        padding-top: 3%;   
      }
      .rowProduct{
        margin-top: 60px;
        .seller{ 
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
          flex-wrap: wrap;
          li{
            font-size: 18px;
    color: #393939;
    padding: 10px 25px 10px 25px;
            border: 1px solid #a7ad9e;
          }
         li:hover{
          color: #abd373;
          border: 1px dashed #abd373;
         }
    
        }

      }  
      .myTabContent{
        .productItemRow{
          display: flex;
          gap: 30px;
          margin: 0px 90px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   .col-flowers{
    padding: 10px;
    line-height: 1.8;
    .h2Title{
      font-size: 18px;
    }
    .price-basket{
      font-size: 20px;
      .priceFlo{
        margin-right: 10px;
        color: #abd373;
      }
      .addBasket{
        cursor: pointer;
        color: #3b5d0d;

      }
    }
    .starUl{
      display: flex;
      color: #ffe24d;
      cursor: pointer;
    }
   }
        }
      }
    }
  }


  // collection start 
  #collection{
    padding: 40px;
    .collection_cards{
      margin: 70px;
        display: grid;
        grid-template-areas: 
        'card1 card1 card1 card1 card1 card2'
        'card3 card4 card4 card4 card4 card4'
         ;
         grid-gap: 20px;

        .card1{
            background-image: url(https://htmldemo.net/pronia/pronia/assets/images/banner/1-1-770x300.jpg);
            grid-area: card1;
        }

        .card2{
            background-image: url(https://htmldemo.net/pronia/pronia/assets/images/banner/1-2-370x300.jpg);
            grid-area: card2;
            text-align: center;

        }
        .card3{
            background-image: url(https://htmldemo.net/pronia/pronia/assets/images/banner/1-3-370x300.jpg);
            grid-area: card3;
            text-align: center;

        }
        .card4{
            background-image: url(https://htmldemo.net/pronia/pronia/assets/images/banner/1-4-770x300.jpg);
            grid-area: card4;
        }

        .collection_card{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
           

            .card_content{
                padding: 100px 70px;
line-height: 1.3;
                span{
                    margin-bottom: 15px;
                    font-size: 1rem;
                    font-weight: 500;
                }
                h2{
                    font-size: 34px;
                    margin-bottom: 30px;
                }
                .btn{
                  background-color: #abd373;
    border-color: #abd373;
    color: #ffffff;
    width: 135px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 23.5px;
                }
                .btn:hover{
                  background-color: #525252;
                }
            }
        }
    } 
 @media screen and (max-width:992px){
    .collection_cards{
        grid-template-areas: 
        'card1 card1 '
        'card2 card3'
        'card4 card4'
        ;
    }
}
@media screen and (max-width:600px){
    .collection_cards{
        grid-template-areas: 
        'card1'
        'card2 '
        'card3'
        'card4'
        ;
    }
}
  }


// clients section starts 

#clients{
 
  .container-clients{
    background-image: url("https://htmldemo.net/pronia/pronia/assets/images/testimonial/bg/1-1-1820x443.jpg");
    background-repeat: no-repeat;
    .content{
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
       h2{
          text-transform: uppercase;
        position: relative;
        color: #393939;
        font-size: 36px;
        line-height: 27px;
        padding-left: 90px;
        padding-right: 90px;
        font-weight: 700;
          
        padding-top: 3%;
        }
         p{
          text-align: center;
          padding-top: 30px;
font-size: 20px;
line-height: 1.3;
        }
    }
   .card-clients{
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 90px;
display: flex;
justify-content: center;
align-items: center;
.card-client1{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    overflow: hidden;
    width: 300px;
    margin-right: 30px;
    line-height: 1.8;
    h4{
      text-transform: uppercase;
    color: #434343;
    font-size: 16px;
    font-weight: 400;
    padding-top: 25px;
    }
    span{
      color: #434343;
    }
    p{
      color: #434343;
      font-style: italic;
      line-height: 32px;
    }
    
}
   
.card-client{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    overflow: hidden;
    width: 300px;
    margin-right: 30px;
    line-height: 1.8;
    h4{
      text-transform: uppercase;
    color: #434343;
    font-size: 16px;
    font-weight: 400;
    padding-top: 25px;
    }
    span{
      color: #434343;
    }
    p{
      color: #434343;
      font-style: italic;
      line-height: 32px;
    }
    
}
   } 
  }
}
@media screen and (max-width:1200px){
  #clients{
    .container-clients{
      .card-clients{
        .card-client{
          display: none;
        }
      }
    }
  }
}


// green section start 
#green{
 
  .container{
    margin: 80px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    padding: 90px;
    background-image: url("https://htmldemo.net/pronia/pronia/assets/images/brand/bg/1-1170x300.jpg");
    .row-green{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 10px;
      align-items: center;
     img{
      cursor: pointer;
     }

    }
  }
}
@media screen and (max-width:992px){
  #green{
    .img1{
      display: none;
    }
    .img2{
      display: none;
    }
  }
}
@media screen and (max-width:660px){
  #green{
    .img3{
      display: none;
    }
    .img4{
      display: none;
    }
  }
}

// latest blog start 
#latest-blog{
  .container-latest{
    .content{
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
       h2{
          text-transform: uppercase;
        position: relative;
        color: #393939;
        font-size: 36px;
        line-height: 27px;
        padding-left: 90px;
        padding-right: 90px;
        font-weight: 700;
          
        padding-top: 3%;
        }
         p{
          text-align: center;
          padding-top: 30px;
font-size: 20px;
line-height: 1.3;
        }
    }
    .latest-cards{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 70px;
.latest{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #f6f7fb;
  padding: 35px 30px 40px 30px;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    overflow: hidden;
    width: 300px;
    margin-right: 30px;
    line-height: 1.3;
    span{
      color: #abd373;
      font-size: 16px;
      text-transform: uppercase;
    }
    h2{
      cursor: pointer;
      color: #525252;
      font-size: 24px;
      font-weight: 500;
      margin: 15px 0px;
    }
    h2:hover{
      color: #abd373;
    }
    p{
      color: #525252;
      line-height: 30px;
    margin-bottom: 45px;
    }

}
  }
    }
    
}
@media screen and (max-width:992px){
  #latest-blog{
    .card1{
      display: none;
    }
  }
}
@media screen and (max-width:660px){
  #latest-blog{
    .card1{
      display: none;
    }
    .card2{
      display: none;
    }
  }
}


     
       
           
      
